.card-container {
  // display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  height: -webkit-fill-available;
  border-radius: 8px;
  background-color: #1a1919;
  box-shadow: 0 0 10px #2c2c2c;
  // flex: 1;
  // height: 100%;
  // box-shadow:
  //   0 0 1px #00f7ff,
  //   0 0 2px #00f7ff,
  //   0 0 3px #00f7ff,
  //   0 0 4px #00f7ff;
  min-width: 350px;
  // min-height: 326px;
  transition: transform 0.5s ease-in-out;
}
.card-container:hover {
  // box-shadow:
  //   0 0 10px #abedf0,
  //   0 0 15px #99fafd,
  //   0 0 20px #6ca0a1,
  //   0 0 30px #395e5f;
  transform: scale(1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  z-index: 1;
  backdrop-filter: blur(10px);
}
.card-header {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: large;
  padding: 16px;
  border-radius: 4px;
  font-weight: 500;
}
.card-body {
  line-height: 1.5;
  color: rgb(201, 201, 201);
  font-size: large;
  padding: 16px;
  border-top: 1px solid #585858;
  font-weight: 500;
}
.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #585858;
}
.item-container-header {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid hsl(0, 0%, 35%);
}
.first-cell {
  width: 50%;
}
.second-cell {
  width: 35%;
}
.third-cell {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    transform: scale(1.2);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    background-color: #585858;
  }
}
.details-container {
  padding: 20px;
  height: auto;
  width: 100%;
}
.about-container {
  display: flex;
  column-gap: 20px;
  padding: 20px;
  &:not(:first-child) {
    border-top: 1px solid #585858;
  }
  .first-cell {
    width: 30%;
  }
  .second-cell {
    width: 60%;
  }
}
