<div class="card-container">
  <div class="card-header">{{ detail.heading }}</div>
  <div class="card-body">
    @if (detail.heading === "About Me") {
      <ng-container
        *ngTemplateOutlet="about; context: { description: detail.description }"
      ></ng-container>
    }
    @if (detail.heading === "Career") {
      <ng-container
        *ngTemplateOutlet="career; context: { description: detail.description }"
      ></ng-container>
    }
    @if (detail.heading === "Skills") {
      <ng-container
        *ngTemplateOutlet="skills; context: { description: detail.description }"
      ></ng-container>
    }
    @if (detail.heading === "Education") {
      <ng-container
        *ngTemplateOutlet="
          education;
          context: { description: detail.description }
        "
      ></ng-container>
    }
  </div>
  <ng-template #about let-description="description">
    @for (item of description; track item) {
      <div class="about-container">
        <div class="first-cell">{{ item.title }}</div>
        <div class="second-cell">{{ item.value }}</div>
      </div>
    }
  </ng-template>
  <ng-template #career let-description="description">
    <div class="item-container-header">
      <div class="first-cell">Organization</div>
      <div class="second-cell">Role</div>
      <div class="third-cell"></div>
    </div>
    @for (item of description; track item) {
      <div class="item-container">
        <div class="first-cell">{{ item.organization }}</div>
        <div class="second-cell">{{ item.role }}</div>
        <div class="third-cell" (click)="showDetails(item.organization)">
          @if (selectedRowTitle !== item.organization) {
            <strong>+</strong>
          } @else {
            <strong>-</strong>
          }
        </div>
      </div>
      @if (selectedRowTitle === item.organization) {
        <div class="details-container">
          <ng-container
            *ngTemplateOutlet="details; context: { details: item.details }"
          ></ng-container>
        </div>
      }
    }
  </ng-template>
  <ng-template #skills let-description="description">
    <div class="item-container-header">
      <div class="first-cell">Technology</div>
      <div class="second-cell">Rating</div>
    </div>
    @for (item of description; track item) {
      <div class="item-container">
        <div class="first-cell">{{ item.technology }}</div>
        <div class="second-cell">
          @for (i of item.rating; track i) {
            <span class="review-star" style="font-size: 20px; color: gold"
              >★</span
            >
          }
        </div>
      </div>
    }
  </ng-template>
  <ng-template #education let-description="description">
    <div class="item-container-header">
      <div class="first-cell">Degree</div>
      <div class="second-cell">Score</div>
    </div>
    @for (item of description; track item) {
      <div class="item-container">
        <div class="first-cell">{{ item.degree }}</div>
        <div class="second-cell">
          {{ item["percentage/cgpa"] }}
        </div>
      </div>
    }
  </ng-template>
  <ng-template #details let-details="details">
    @for (detail of details; track detail) {
      <div>
        <strong>{{ detail.title }}</strong>
      </div>
      @if (detail.title === "Roles & Responsibilities") {
        <div>
          <ul>
            @for (resp of detail.value; track resp) {
              <li>{{ resp }}</li>
            }
          </ul>
        </div>
      } @else {
        <div>{{ detail.value }}</div>
      }
    }
  </ng-template>
</div>
