<div class="dashboard-container">
  <div class="details-section">
    <div class="journey-image">
      <img
        src="https://media.licdn.com/dms/image/v2/D4D03AQG4pchXhnHuXA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1723303463170?e=1782345600&v=beta&t=1d5PQel1M0cSHY68eT6q_0tKcj2UH90nOOrjucR1_yc"
      />
    </div>
    <div class="profile-heading">
      <div class="name">AKASH SINGH</div>
      <div class="title">Senior Software Engineer</div>
      <div class="title">
        Experienced in Angular | NodeJs | TypeScript | JavaScript | RxJs | NgRx
      </div>
      <div class="">Email: akashbtw&#64;gmail.com | Phone: +91-7249364916</div>
    </div>
  </div>
  <div class="cards-container">
    @for (detail of myDetails; track detail) {
      <app-card [detail]="detail" class="card"></app-card>
    }
  </div>
</div>
